@keyframes preLoader {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
div.loader {
  height: 70px;
  width: 70px;
  border: 10px solid #f7e223;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 100%;
  animation: preLoader 2s linear infinite;
}
div.bgScreen {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
div.loader {
  height: 70px;
  width: 70px;
  border: 10px solid #f7e223;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 100%;
  animation: preLoader 2s linear infinite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.header {
  background-color: #f7e223;
}
.navDown {
  width: 10px;
}
.dropBtnRes {
  display: none;
}
.nav-item {
  height: 100%;
}
.navicon-item:hover {
  box-shadow: #d3d3d3 10px 10px 10px;
}
.icon {
  width: 20px;
}
.textBold {
  font-weight: bold;
}
nav:nth-child(2) {
  color: #000 !important;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.round {
  width: 6rem;
}
.shop {
  background-color: #f2f2f2;
}
.prodUprText {
  font-size: 0.8rem;
}
.star {
  width: 1rem;
}
.ratingNum::before {
  background: url("./images/star.png") left top no-repeat;
}
.ratingNum {
  color: #ffc107;
  font-weight: bold;
  line-height: 0;
}
li:hover {
  cursor: pointer;
}

li {
  list-style: none;
}
.popCat {
  background-color: #fff;
  position: fixed;
  top: 115px;
  display: none;
  height: 70vh;
  width: 90vw;
}

.sideImg {
  width: 50%;
}

.resNav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  font-size: 0.75rem;
  display: none !important;
}

@media screen and (min-width: 720px) {
  .carImg {
    width: 1005px !important;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
  }
}
/* breakPoints */
@media only screen and (max-width: 720px) {
  .mobNav {
    display: none !important;
  }
  .resNav {
    display: flex;
  }
  .sideText {
    display: none !important;
  }
  .dropBtn {
    display: none !important;
  }
  .dropBtnRes {
    display: flex;
  }
  .navDown {
    width: 10px;
  }
  .searchBar {
    width: 75%;
  }
  .toggle {
    overflow: hidden;
  }
  .round {
    width: 5rem;
  }
}
